iot_rover_flow.json
[{"id":"5dfd92ed.e334fc","type":"tab","label":"IoT Rover Optimized","disabled":false,"info":""},{"id":"5820cf96.f950a","type":"inject","z":"5dfd92ed.e334fc","name":"Forward","topic":"","payload":"{\"MotorA\":50, \"MotorB\": 50}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":180,"wires":[["25cdb9b6.2d68a6","4b98a344.35c0ec"]]},{"id":"e0a238c7.6ea378","type":"debug","z":"5dfd92ed.e334fc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":730,"y":40,"wires":[]},{"id":"25cdb9b6.2d68a6","type":"rpi-adeept-motor","z":"5dfd92ed.e334fc","name":"rpi adeept motor","input":"payload","inputType":{},"outputType":{},"output":"payload","motorSelect":"MotorA","x":470,"y":200,"wires":[["e0a238c7.6ea378","a48a2fdb.1554c"],["e0a238c7.6ea378","6cc9104b.38329"],["e0a238c7.6ea378","2c5ecc0e.970a24"]]},{"id":"4b98a344.35c0ec","type":"rpi-adeept-motor","z":"5dfd92ed.e334fc","name":"rpi adeept motor","input":"payload","inputType":{},"outputType":{},"output":"payload","motorSelect":"MotorB","x":470,"y":300,"wires":[["4325ac15.a3eaa4","e0a238c7.6ea378"],["10a01c31.298e34","e0a238c7.6ea378"],["a6b2fdea.c8151","e0a238c7.6ea378"]]},{"id":"a48a2fdb.1554c","type":"rpi-gpio out","z":"5dfd92ed.e334fc","name":"Motor A 1","pin":"12","set":"","level":"0","freq":"","out":"out","x":760,"y":180,"wires":[]},{"id":"6cc9104b.38329","type":"rpi-gpio out","z":"5dfd92ed.e334fc","name":"Motor A 2","pin":"13","set":"","level":"0","freq":"","out":"out","x":760,"y":220,"wires":[]},{"id":"2c5ecc0e.970a24","type":"rpi-gpio out","z":"5dfd92ed.e334fc","name":"Motor A PWM","pin":"11","set":"","level":"0","freq":"","out":"out","x":780,"y":260,"wires":[]},{"id":"4325ac15.a3eaa4","type":"rpi-gpio out","z":"5dfd92ed.e334fc","name":"Motor B 1","pin":"8","set":"","level":"0","freq":"","out":"out","x":760,"y":340,"wires":[]},{"id":"10a01c31.298e34","type":"rpi-gpio out","z":"5dfd92ed.e334fc","name":"Motor B 2","pin":"10","set":"","level":"0","freq":"","out":"out","x":760,"y":380,"wires":[]},{"id":"a6b2fdea.c8151","type":"rpi-gpio out","z":"5dfd92ed.e334fc","name":"Motor B PWM","pin":"7","set":"","level":"0","freq":"","out":"out","x":780,"y":420,"wires":[]},{"id":"8c218a05.d2b018","type":"ui_slider","z":"5dfd92ed.e334fc","name":"Motor B slider","label":"Motor B slider","tooltip":"","group":"8415ac7c.02b63","order":3,"width":"","height":"","passthru":true,"outs":"all","topic":"","min":"-100","max":"100","step":"10","x":100,"y":480,"wires":[["4b98a344.35c0ec"]]},{"id":"dc1d7b10.784cb8","type":"ui_slider","z":"5dfd92ed.e334fc","name":"Motor A slider","label":"Motor A slider","tooltip":"","group":"8415ac7c.02b63","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":"-100","max":"100","step":"10","x":100,"y":40,"wires":[["25cdb9b6.2d68a6"]]},{"id":"4654e1e.b48a62","type":"inject","z":"5dfd92ed.e334fc","name":"Backward","topic":"","payload":"{\"MotorA\":-50, \"MotorB\": -50}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":240,"wires":[["25cdb9b6.2d68a6","4b98a344.35c0ec"]]},{"id":"d7b2778d.e81108","type":"inject","z":"5dfd92ed.e334fc","name":"Turn Right","topic":"","payload":"{\"MotorA\": 50, \"MotorB\": 40}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":300,"wires":[["25cdb9b6.2d68a6","4b98a344.35c0ec"]]},{"id":"524b5e83.8453a","type":"inject","z":"5dfd92ed.e334fc","name":"Turn Left","topic":"","payload":"{\"MotorA\": \"A\", \"MotorB\": 50}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":360,"wires":[["25cdb9b6.2d68a6","4b98a344.35c0ec"]]},{"id":"8415ac7c.02b63","type":"ui_group","name":"Group 1","tab":"5146beb2.73295","order":1,"disp":true,"width":6},{"id":"5146beb2.73295","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]